*{
    margin: 0;
    padding: 0%;
}
body{
    background:black;
    color: white;
}

.banner-img{
    background-image: url("banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
    
  .banner-txt{
    text-align: center;
    position: absolute;
    color: white;
    z-index: 1;
    width: 100%;
  }
.nav{
    list-style-type: none;
    padding-top: 400px;

  }

  li{
      padding-top: 25px;
    display: inline;
    padding-left: 100px;
    
  }

h2{
    text-align: center;
    position: absolute;
    color: white;
    padding-left: 600px;
    padding-top: 100px;
  }
  .flex-container {
    display: flex;
    
  }

.horntail{
padding: 50px;
padding-top: 200px;
   
}

.text2{
    padding: 50px;
padding-top: 200px;
}